{% extends 'base.html' %}
{% load catalog_tags %}



{% block content %}
    <div class="row-fluid">
        <div class="span3">
            {% block left_col %}
                {% categories_tree %}
                <br>
                <div class="cart_prev">
                    {% if cart_item_count %}
                        В корзине <a href="/cart/" class="carta">
                        {% if cart_item_count == 1 %}
                            1 товар
                        {% elif cart_item_count == 2 or cart_item_count == 3 or cart_item_count == 4 %}
                            {{ cart_item_count }} товара
                        {% else %}
                            {{ cart_item_count }} товаров
                        {% endif %}
                        </a>
                        <a href="/cart/" class="label label-success pull-right">Оформить</a><div class="clear"></div>
                    {% else %}
                        Ваша корзина пуста
                    {% endif %}
                </div>
            {% endblock %}
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="span12">
                    <span class="muted road">{% block road_link %}<a href="/shop/">Магазин</a>{% endblock %}</span>
                </div>
            </div>
            {% block center_col %}{% endblock %}
        </div>
    </div>
{% endblock %}