{% extends 'shop/base_shop.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block center_col %}
    <table class="table">
        <caption>Ваш заказ</caption>
        <thead>
        <tr>
            <th scope="col">Товар</th>
            <th scope="col">Стоимость</th>
            <th>Количество</th>
            <th></th>
            <th></th>
            <th scope="col" class="right">Всего</th>
        </tr>
        </thead>
        <tbody>
        {% if cart_item_count %}
            {% for item in cart_items.hotels %}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}" class="cart">
                            {{ item.name }}
                        </a><br>
                        <a href="{{ item. }}"
                    </td>
                    <td>
                        {{ item.price }} руб.
                    </td>
                    <td class="right">
                        <form method="post" action="." class="cart">{% csrf_token %}
                            {#<label class="control-label" for="quantity">{% trans "Quantity" %}:</label>#}
                            <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity"
                                   size="2" class="quantity" maxlength="5" />
                            <input type="hidden" name="product_slug" value="{{ item.product.slug }}" />
                    </td>
                    <td>
                        <input type="hidden" name="product_slug" value="{{ item.product.slug }}" />
                        <button class="btn btn-info" type="submit" name="update">
                            <i class="icon-refresh icon-white"></i> Обновить</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="." class="cart">{% csrf_token %}
                            <input type="hidden" name="product_slug" value="{{ item.product.slug }}" />
                            <button class="btn btn-danger" type="submit" name="remove">
                                <i class="icon-trash icon-white"></i> Удалить</button>
                        </form>
                    </td>
                    <td class="right">{{ item.total }} руб.</td>
                </tr>
            {% endfor %}
            {% for item in cart_items.products %}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}" class="cart">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>
                        {{ item.price }} руб.
                    </td>
                    <td class="right">
                        <form method="post" action="." class="cart">{% csrf_token %}
                            <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity"
                                   size="2" class="quantity" maxlength="5" />
                            <input type="hidden" name="product_slug" value="{{ item.product.slug }}" />
                    </td>
                    <td>
                        <input type="hidden" name="product_slug" value="{{ item.product.slug }}" />
                        <button class="btn btn-info" type="submit" name="update">
                            <i class="icon-refresh icon-white"></i> Обновить</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="." class="cart">{% csrf_token %}
                            <input type="hidden" name="product_slug" value="{{ item.product.slug }}" />
                            <button class="btn btn-danger" type="submit" name="remove">
                                <i class="icon-trash icon-white"></i> Удалить</button>
                        </form>
                    </td>
                    <td class="right">{{ item.total }} руб.</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" style="height:30px;">
                    Ваша корзина пуста
                </td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">Полная стоимость:</th>
            <th>{{ cart_subtotal }} руб.</th>
        </tr>
        </tfoot>
    </table>
    {% if cart_item_count %}
        <br><br>
        {% load bootstrap %}
        <div class="row-fluid">
            <div class="span12">
                <h4>Оформить заказ</h4>
                <hr>
                <form method="post" action="." class="form-horizontal">{% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-success" type="submit" name="checkout">Отправить</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}