{% extends 'shop/base_shop.html' %}
{% load catalog_tags %}

{% block title %}{{ category.name }}{% endblock %}

{% block road_link %}{{ road|safe }}{% endblock %}

{% block center_col %}
    <div class="category_head">
        <h3>{{ category.name }}</h3>
        <div class="description">{{ category.description }}</div>
    </div>
    {% for child in children_cat %}
        {% products_block child.name child.product_set.all|slice:":3" child.slug %}
    {% endfor %}
    {% products_block '' category.product_set.all '' %}
{% endblock %}