{% extends 'shop/base_shop.html' %}
{% load catalog_filter %}

{% block title %}{{ product.name }}{% endblock %}

{% block road_link %}{{ road|safe }}{% endblock %}

{% block center_col %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("a.thumbnail").fancybox(
                    {
                        'titlePosition'	:	'over',
                        'onComplete'	:	function() {
                            jQuery("#fancybox-wrap").hover(function() {
                                        jQuery("#fancybox-title").show();
                                    },
                                    function() {jQuery("#fancybox-title").hide();});
                        }
                    }
            );
            jQuery('#orders').fancybox();
        });
    </script>
    <div class="row-fluid">
        <div class="span8 offset2 category_head">
            <h3 style="text-align: center">{{ product.name }}</h3>
            <div class="row-fluid">

{#                Картинки#}
                <div class="span4">
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li class="span12">
                                <a rel="product{{ product.pk }}" href="{{ MEDIA_URL }}{{ product|default_image }}" class="thumbnail" title="{{ product.name }}">
                                    <img src="{{ MEDIA_URL }}{{ product|default_image }}" title="{{ product.name }}">
                                </a>
                            </li>
                            {% for photo in product.productimage_set.all %}
                                <li class="span3">
                                    <a rel="product{{ product.pk }}" href="{{ MEDIA_URL }}{{ photo.image }}" class="thumbnail" title="{{ photo.description }}">
                                        <img src="{{ MEDIA_URL }}{{ photo.image }}" title="{{ photo.description }}" style="height: 40px">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

{#                Описание#}
                <div class="span8">
                    <p>Производитель: <strong>{{ product.brand }}</strong></p>
                    <p>Цена:
                        {% if product.sale_price %}<span class="old_price">{{ product.old_price }} р.</span> {% endif %}
                        <span class="price">{{ product.price }} р.</span>
                    </p>
                    {{ product.description|safe }}
                    <br><br>
                    <form method="post" action="/buy/{{ product.slug }}/">{% csrf_token %}
                        <input type="hidden" name="product_slug" value="{{ product.slug }}" />
                        <input class="buy" type="submit" value="Купить"
                               name="submit" alt="Добавить в корзину" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
