<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Business Boutique{% endblock %}</title>
<meta charset="utf-8" />
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <link  rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css">
    <link  rel="stylesheet" href="{{ MEDIA_URL }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <link  rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link  rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
    <link  rel="stylesheet" href="{{ MEDIA_URL }}css/shop.css">
{% block reg_css %}{% endblock %}

<script type="text/javascript" src="{{ MEDIA_URL }}js/vendor/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}fancybox/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
{% block reg_js %}{% endblock %}
</head>
<body>
<div class="row-fluid">
    <div class="span10 offset1">
        <header id="top-site">
	        <nav id="nav-top">
		        <ul class="pull-right">
			        <li><a href="">О компании</a></li>
			        <li><a href="/service/">Услуги</a> <span style="color:#fff">/ </span><a href="/shop/">Товары</a></li>
			        <li><a href="/news/">Новости</a></li>
			        <li><a href="">Скидки</a></li>
			        <li><a href="">Контакты</a></li>
		        </ul>
        	</nav>
            <img class="bt-logo" src="{{ MEDIA_URL }}img/bt-logo.png" usemap="#Home">
            <map name="Home">
                <area shape="rect" coords="30,50,260,100" href="/" title="Главная">
            </map>
            <div class="doc">
                <p class="doc_title">Ждем ваших заявок:</p>
                <p class="doc_info"><span>welcome@bt-boutique.com</span></p>
                <p class="doc_info">Skype: <span>Oshitikova</span></p>
            </div>
        	<div class="header-bot">
        		<h2>Новые горизонты
        		<span>ВАШЕГО БИЗНЕСА</span></h2>
        		<img class="sun" alt="" src="{{ MEDIA_URL }}img/sun.png">
	        </div>
        </header>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset1 content">

        {% if messages %}
            <script type="text/javascript">
                var delay_popup = 4000;
                setTimeout("$('#mess').fadeOut(1000)", delay_popup);
            </script>
            <div id='mess' style="display: block">
                <ul class="messages">
                    {% for message in messages %}
                        <li><div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            <a class="close" data-dismiss="alert">&times;</a>
                            {{ message }}
                        </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block precontent %}{% endblock %}
        {% block content %}{% endblock %}

{#    	<div class="form">#}
{#	    	<form>#}
{#		    	<input class="search" type="text" placeholder="искать" />#}
{#			    <input class="submit" type="submit" value="Поиск" />#}
{#		    </form>#}
{#	    </div>#}
    </div>
</div><!-- /content -->
<div class="row-fluid">
    <div class="span10 offset1">
        <footer id="footer">
            {% block footer %}&nbsp;{% endblock %}
        </footer>
    </div>
</div>
</body>
</html>