{% extends 'base.html' %}

{% block reg_css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}grappelli/jquery/ui/css/custom-theme/jquery-ui-1.8.18.custom.css" type="text/css" media="screen" />

{% endblock %}

{% block reg_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/for_services.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}grappelli/jquery/ui/js/jquery-ui-1.8.18.custom.min.js"></script>
{% endblock %}

{% block precontent %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <a class="head_service" href="/service/hotels/">Поиск и регистрация гостиниц</a>
            <a class="head_service" href="/service/avia/">Бронирование и покупка авиабилетов</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span3 filtr">
            {% block filtrobject %}{% endblock %}
        </div>
        <div class="span9">
            {% block listobject %}{% endblock %}
        </div>
    </div>
    <br>
{% endblock %}