{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span4 hotel">
            <a href="/service/hotels/"><div class="hotel_logo">Поиск и регистрация гостиницы</div></a>
        </div>
        <div class="span4">
            &nbsp;
        </div>
        <div class="span4">
            &nbsp;
        </div>
    </div><br>
    <div class="row-fluid">
        <div class="span4">
            &nbsp;
        </div>
        <div class="span4">
            &nbsp;
        </div>
        <div class="span4">
            &nbsp;
        </div>
    </div>
{% endblock %}