.cms-imageinline-list {

}

.cms-imageinline-list > li {
    position: relative;
    float: left;
    min-width: 60px;
    min-height: 60px;
    padding: 15px 7px 0 0;
}

.cms-imageinline-list-placeholder {
    margin:  5px 5px 0 0;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
}

.cms-imageinline-list .grp-tools {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
}
.cms-imageinline-list .grp-tools li a.grp-remove-handler:hover {
    background-position: 0 -2387px;
}

.cms-imageinline-list .grp-tools li a.grp-remove-handler {
    background-position: 0 -2871px;
}

.cms-imageinline-list .grp-tools input {
    display: none;
}