{% extends 'services/base-services.html' %}



{% block title %}Заказ гостиницы {{ hotel.title }}{% endblock %}

{% block content %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("a.thumbnail").fancybox(
                    {
                        'titlePosition'	:	'over',
                        'onComplete'	:	function() {
                            jQuery("#fancybox-wrap").hover(function() {
                                        jQuery("#fancybox-title").show();
                                    },
                                    function() {jQuery("#fancybox-title").hide();});
                        }
                    }
            );
            jQuery("a.orders").fancybox();
        });
    </script>
{% load service_tags %}
{% load bootstrap %}
    <br>
    <div class="row-fluid">
        <div class="span4">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span11">
                        <a rel="group{{ hotel.pk }}" href="{{ MEDIA_URL }}{{ hotel.photos_set.all|first|image }}" class="thumbnail" title="{{ hotel.title }}">
                            <img src="{{ MEDIA_URL }}{{ hotel.photos_set.all|first|image }}">
                        </a>
                    </li>
                    {% for photo in hotel.photos_set.all|slice:"1:" %}
                        <li class="span2">
                            <a rel="group{{ hotel.pk }}" href="{{ MEDIA_URL }}{{ photo.image }}" class="thumbnail" title="{{ photo.description }}">
                                <img src="{{ MEDIA_URL }}{{ photo.image }}" title="{{ photo.description }}" style="height: 50px">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span8">
            <h4 class="pull-left"><a href="/service/hotels/{{ hotel.pk }}/">{{ hotel.title }}</a></h4>
            <div class="stars">{% for i in hotel.starcount|as_list %}<i class="icon-star icon-white"></i> {% empty %}<i class="icon-ban-circle icon-white"></i>{% endfor %}</div>
            <div class="clearfix"></div>
            <div class='muted'><i>{{ hotel.city.title }}, {{ hotel.address|safe }}</i></div>
            <hr>
            {{ hotel.content|safe }}
            {% if hotel.otherservices %}
                <h6>Дополнительные услуги:</h6>
                {{ hotel.otherservices|safe }}
            {% endif %}
            <h6>Готельные номера:</h6>
            {% for room in hotel.hotelroom_set.all %}
                <div class="row-fluid"><div class="span9"><div class="row-fluid hotel_room">
                    <div class="span10" style="border-right: 1px solid grey">
                        <div class="room_title">{{ room.title }}</div>
                        {{ room.bed }}<br>
                        {{ room.description }}
                    </div>
                    <div class="span2">
                        <div class="text-info">{{ room.price }}<br>р./ночь<br><br>
                            <a class="btn btn-success pull-right orders" href="#popup{{ room.pk }}">Заказать</a>
                            <div style="display: none">
                                <div id="popup{{ room.pk }}" class="order_forms">
                                    <h4 class="pagination-centered">Форма заказа</h4>
                                    <form method="post" action="/buy/{{ room.slug }}/">{% csrf_token %}
                                        <label><strong>{{ room.title }}</strong></label>
                                        <label>Дата заезда и выезда <small class="muted">(дд.мм.гггг)</small></label>
                                        <input type="text" name="date_on" placeholder="дд.мм.гггг" />
                                        <input type="text" name="date_off" placeholder="дд.мм.гггг" />
                                        <input type="hidden" name="product_slug" value="{{ room.slug }}" />
                                        <input class="buy" type="submit" value="Заказать"
                                               name="submit" alt="Добавить в корзину" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div></div><br>
            {% endfor %}

            <div style="display: none">
                <div id="popup" class="order_forms">
                    <h3 class="pagination-centered">Форма заказа</h3>
                    <form method="post" action="/buy/{{ room.slug }}/">{% csrf_token %}
                        <label>Дата заезда и выезда</label>
                        <input type="date" name="date_on" />
                        <input type="date" name="date_off" />
                        <input type="hidden" name="product_slug" value="{{ room.slug }}" />
                        <input class="buy" type="submit" value="Заказать"
                               name="submit" alt="Добавить в корзину" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}