{% extends 'services/base-services.html' %}

{% block title %}Поиск и регистрация гостиниц{% endblock %}

{% block filtrobject %}

    <form action="" method="get" class="form-horizontal" onchange="">
        <fieldset>
            <legend>Фильтр</legend>
            {{ room_filter.form.as_p }}
            {{ filter.form.as_p }}
            <input type="submit" value="Найти" class="btn btn-info"/>
        </fieldset>
    </form>

{% endblock %}

{% block listobject %}
{% load service_tags %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
                    jQuery("a.thumbnail").fancybox(
                            {
                                'titlePosition'	:	'over',
                                'onComplete'	:	function() {
                                    jQuery("#fancybox-wrap").hover(function() {
                                        jQuery("#fancybox-title").show();
                                        },
                                        function() {jQuery("#fancybox-title").hide();});
                                }
                            }
                    );
                });
    </script>


    <div class="titles">{{ titles|safe }}.</div>
    {% for hotel in hotels %}
        <div class="row-fluid">
            <div class="span4">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span10">
                        <a rel="group{{ hotel.pk }}" href="{{ MEDIA_URL }}{{ hotel.photos_set.all|first|image }}" class="thumbnail" title="{{ hotel.title }}">
                            <img src="{{ MEDIA_URL }}{{ hotel.photos_set.all|first|image }}">
                        </a>
                    </li>
                    {% for photo in hotel.photos_set.all|slice:"1:5" %}
                        <li class="span2">
                            <a rel="group{{ hotel.pk }}" href="{{ MEDIA_URL }}{{ photo.image }}" class="thumbnail" title="{{ photo.description }}">
                                <img src="{{ MEDIA_URL }}{{ photo.image }}" title="{{ photo.description }}" style="height: 40px">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
            <div class="span8">
                <h4 class="pull-left"><a href="/service/hotels/{{ hotel.pk }}/">{{ hotel.title }}</a></h4>
                <div class="stars">{% for i in hotel.starcount|as_list %}<i class="icon-star icon-white"></i> {% empty %}<i class="icon-ban-circle icon-white"></i>{% endfor %}</div>
                <div class="clearfix"></div>
                <div class='muted'><i>{{ hotel.city.title }}, {{ hotel.address|safe }}</i></div>
                <hr>
                {{ hotel.content|safe }}
                {% if hotel.otherservices %}
                    <h6>Дополнительные услуги:</h6>
                    {{ hotel.otherservices|safe }}
                {% endif %}
                <a class="btn btn-success pull-right" href="/service/hotels/{{ hotel.pk }}">Подробнее</a>
            </div>
        </div>
        <hr>
    {% empty %}
        {% load bootstrap %}
        К сожелению, гостиницы с такими параметрами в каталоге нет. Вы можете изменить параметры в фильтре или
        оформить заказ, заполнив форму ниже.<br><br>
        <form method="post" action="." class="form-horizontal">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-actions">
                <input type="submit" class="btn btn-success" value="Отправить">
            </div>
        </form>
    {% endfor %}
{% endblock %}