{% load catalog_tags %}

<div class="row_fluid">
    <div class="span12 products_block">
        {% if title  %}
            {% if toby %}
                <div class="title"><a href="/shop/category/{{ toby }}/">{{ title }}</a></div>
            {% else %}
                <div class="title">{{ title }}</div>
            {% endif %}
        {% endif %}
        <div class="products">
        {% for product_row in products %}
            <div class="row-fluid" {% if not forloop.last %}style="margin-bottom: 50px"{% endif %}>
                {% for product in product_row %}
                    <div class="span4">
                        {% product_preview product %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        {% if toby %}
            <a href="/shop/category/{{ toby }}/" class="pull-right">Все товары категории</a>
        {% endif %}
    </div>
</div>