{% load mptt_tags %}

<div class="row-fluid">
    <div class="well sidebar-nav">
        <ul class="nav nav-list tabbar">
            <li class="nav-header">Категории</li>
            {% recursetree nodes %}
                <li>
                    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="children nav nav-list">{{ children }}</ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>
