{% load catalog_filter %}


<div class="product_preview" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="span4 pull-left img_prew">
            <img src="/media/{{ product|default_image }}">
        </div>
        <div class="span8 description">
            <a href="/shop/product/{{ product.slug }}">{{ product.name }}</a><br>
            Цена: <span class="price">{{ product.price }} р.</span><br><br>

            <form method="post" action="/buy/{{ product.slug }}/">{% csrf_token %}
                <input type="hidden" name="product_slug" value="{{ product.slug }}" />
                <input class="buy" type="submit" value="Купить"
                       name="submit" alt="Добавить в корзину" />
            </form>
        </div>
    </div>
</div>
