{% extends 'main/index.html' %}
{% load project_tags %}

{% block title %}Новости{% endblock %}

{% block subcontent %}
<div class="content">


    <h2>{{ object }}</h2>
    {{ object.content|safe }}


    <p><a href="/news/">Все новости</a></p>
</div>


{% endblock %}