{% extends 'main/index.html' %}
{% load project_tags %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="content">

        {% for n in object_list %}

            <a href="{{ n.get_absolute_url }}" style="color:orange">{{ n }}</a>
            <small class="muted pull-right">{{ n.created_at }}</small><div class="clearfix"></div>
            <p>{{ n.description }}</p><hr>


        {% endfor %}

        {% if is_paginated %}
            <p>
                {% if page_obj.has_previous %}<a href="?{% generate_qs 'page' page_obj.previous_page_number %}">&lt; Предыдущая</a>{% endif %}
                {% if page_obj.has_next %}<a href="?{% generate_qs 'page' page_obj.next_page_number %}">Следующая &gt;</a>{% endif %}
            </p>
        {% endif %}

    </div>


{% endblock %}