{% extends 'base.html' %}

{% block content %}
    <section id="left-column" class="span8">
        {% block subcontent %}
        <h1>Наша компания</h1>
        <table>
            <tr class="table-top">
                <td colspan="2">Уважаемые <span>посетители</span>.</td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    <p>Основными преимуществами при работе с нами являются великолепный сервис и наши цены - они ниже цен компаний, предоставляющих аналогичные услуги, что обусловлено наличием у нас доступа на все ключевые аукционы Америки, а прямое сотрудничество с дилерами и банками помогает нам снизить конечную стоймость.</p>
                    <p>Нами накоплен богатый опыт взаимодействия с клиентами на основе взаимовыгодного сотрудничества. Индивидуальный подход к покупателям, гибкое ценообразование, наличие широкого выбора услуг, техническая  и информационная поддержка привлекают к нам новых клиентов.Сотрудники компании осуществят подбор по всем актуальным предложениям интересующей <span>Вас модели из США</span>, подробно расскажут Вам об 	особенностях конструкции и эксплуатации каждого автомобиля.</p>
                    <p><span>Наша цель</span> - сделать путь автомобиля от продавца до покупателя короче, убрать лишних посредников и предложить самую оптимально выгодную для Вас цену. При этом огромное внимание уделяется предоставлению клиенту максимально точной информации о состоянии автомобиля.</p>
                </td>
                <td>
                    <p>У нас имеется тройное отсеивание по качеству тремя разными специалистами. Первый осмотр производится опытным механиком при покупке, второй - осуществляется при поступлении автомобиля на нашу стоянку, третий - производится непосредственно после прибытия автомобиля в Европу. Так же Вы можете проверить свой автомобиль в <span>системах CARFAX или AUTOCHECK.</span></p>
                    <p>Все автомобили растамаживаются в Москве. Мы гарантируем полную оплату таможенных платежей.</p>
                    <p><span>Мы ценим своих покупателей и предоставляем их вниманию только проверенный товар.</span></p>
                    <p>Доступность цен и качество наших услуг - вот основные отличия нашей компании. Для нас, именно Вы - самый главный критик! Мы можем с уверенностью сказать, что на данном этапе гордимся своими достижениями, и будем дальше стремиться вперёд!</p>
                </td>
            </tr>
        </table>
    {% endblock %}
    </section><!-- /left-column-->
    <section id="right-column" class="span3 pull-right">
    {% load project_tags %}
        {% news %}
    </section><!-- /right-column-->
    <div class="clear"></div>
{% endblock %}