.products_block {
    background-color: #ffffcc;
    border-bottom: 4px solid #f89406;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 3px;
    padding-bottom: 7px;
    overflow: hidden;
}
.products_block .title {
    background-color: #ffe476;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
    color: #f86400;
    box-shadow: 2px 2px 3px 1px #e1e1e1;
    margin-bottom: 12px;
}
.products_block .title a {
    font-size: 16px;
    color: #f86400;
}
.products_block .title a:hover {
    text-decoration: none;
}
.road a{
    color:#93b700;
}

.category_head {
    margin-bottom: 7px;
    padding: 2px;
}
.category_head h3 {
    color:#ad6704;
}
.description {
    padding-left: 5px;
    font-size: 14px;
    color: #444444;
}
.price {
    color: #33d100;
    font-size: 16px;
}
.old_price {
    color: red;
    text-decoration: line-through;
}
a.buy {
    color:#f89406;
    font-size: 16px;
    border-bottom: 1px dotted #f07000;
}
a.buy:hover {
    text-decoration: none;
    border-bottom: 1px solid #f07000;
}
.img_prew{
    text-align: center;
}
.img_prew img {
    height: 100px;
}