@font-face {
	font-family: Myriad;
	src: url(font/MyriadPro-Regular.otf);
}
body {
	width: 100%;
	background: #303030;
	color: #000;
	font: 12px/1.5 verdana, arial, sans-serif;
}

a.yell {
	color: #ff6400;
    text-decoration: underline;
	font: 12px verdana, arial, sans-serif;
}
a.yell:hover {
	text-decoration: none;
    color: #ff6400;
}
.titles {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.titles span {
    color:#999900;
}

.stars {
    background-color: gold;
    display: inline;
    padding: 4px;
    border-radius: 4px;
    margin: 2px;
}
/* --------------- header -------------- */

#nav-top {
	width: 100%;
	background: #ff6b0c;
	height: 67px;
}
#nav-top ul {
	padding: 22px 0 0 70px;
	
}
#nav-top li {
	float: left;
	margin: 0 50px 0 0;
}
#nav-top a {
	color: #fff;
	font: 16px verdana, arial, sans-serif;
    text-decoration: underline;
}
#nav-top a:hover {
	text-decoration: none;
}
.bt-logo {
    height: 164px;
    width: 294px;
    position: absolute;
    left: 14%;
    top: 0;
    z-index: 999;
}

.header-bot {
	width: 100%;
	position: relative;
	background: #2d2d2d;
    overflow: hidden;
    line-height: 0;
}
.header-bot h2 {
	color: #000;
	font: 30px times;
	position: absolute;
	bottom: 60%;
	left: 60%;
	
}
.header-bot h2 span {
	display: block;
	color: #ff6400;
	font: 34px Myriad, arial;
}

.sun {
    width: 100%;
}
.doc {
	position: absolute;
	left: 15%;
	top: 235px;
    z-index: 999;
}
.doc_title {
    color: #f1f1f1;
    font-size: 14px;
}
.doc_info {
    color:#E9BE5D;
}
.doc_info span {
    text-decoration: underline;
}

.menu {
    float: right;
}

.bor {
    border: 1px solid red;
}
/* -------------- content -------------*/

.content {
    padding: 20px;
	padding-bottom: 75px;
    background-color: #fff;
}
#left-column {
}
#left-column h1 {
	font: 37px arial;
	color: #5b5c5c;
	margin: 19px 0 0 40px;
	text-transform: uppercase;
}
#left-column h1 span {
	display: block;
}

#left-column h2 {
	font: 18px arial;
	color: #5b5c5c;
	margin: 15px 0 15px;
}

#left-column table {
	border-collapse: separate;
	border-spacing: 40px 30px;
}
#left-column td:first-child, #left-column td:last-child {
	color: #5b5c5c;
	font: 12px/1.5 verdana, arial, sans-serif;

}
#left-column p {
	margin-bottom: 18px;
}
#left-column p span {
	color: #ff6400;
}


.content {
    margin-left: 40px;
    width: 700px;
}

/* ----------- table ------------- */

.table-top {
	width: 100%;
}
.table-top td {
	font: 16px verdana, arial, sans-serif;
	color: #5b5c5c;
	
}

/* ------------- right-column -------------- */

#right-column {
	margin: 0 10px 0 0;
	overflow: hidden;
	padding: 50px 0 0 0;
}
.archive {
	font: 12px verdana, arial, sans-serif;
	color: #ff6400;
	float: right;
}
#right-column h3 {
	display: inline-block;
	font: 32px verdana, arial, sans-serif;
	color: #5a5a5a;
} 
.news {
	margin: 31px 0;
}
.news a {
	color: #ff6400;
	font: 12px verdana, arial, sans-serif;
}
.news a:hover {
	text-decoration: none;
}
.news p  {
	color: #000;
	font: 12px/1.5 verdana, arial, sans-serif;
	margin: 10px 0;
}
p.date {
	color: #9a9a9a;
	font: 12px verdana, arial, sans-serif;
	margin-top: 0;
}
.clear {
	clear: both;
}

/* ------------ form ---------- */

.form {
	margin: 0 0 0 40px;
}
.search {
	border: 1px solid #7d7c7c;
	border-radius: 15px;
	box-shadow: inset 0 1px 2px #7d7c7c;
	outline: none;
	padding-left: 20px;
	background: url(../img/search.png) 4px 3px no-repeat;
	width: 210px;
}
.submit {
	border: 1px solid #7d7c7c;
	border-radius: 15px;
	color: #403f3f;
	cursor: pointer;
}
#footer {
	background: #000;
	height: 20px;
    margin: 0 auto;
}

.head_service {
    display: block;
    float: left;
    background-color: goldenrod;
    border-radius: 5px;
    padding: 5px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 5px;
}
.head_service:hover {
    color: #587433;
    text-decoration: none;
    background-color: #77ff77;
}

.filtr {
    border-right: 1px solid #cccccc;
    background-color: #f6f6f6;
}
#id_price_0, #id_price_1{
    width: 40%;
}
#id_dat_0 {margin-right: 10px}
#id_otherinfo {width: 90%;height: 80px;}

.order_forms {
    border-radius: 7px;
    border: 7px solid greenyellow;
    padding: 10px;
    padding-bottom: 40px;
}
.order_forms h4 {
    color:#ad6704;
}

#mess{
    position: absolute;
    left:70%;
    top: 300px;
    width: 300px;
    overflow: hidden;
}

/*hotel css*/

.hotel {
    border: 6px solid #f8e195;
    border-radius: 7px;
    padding: 20px;
    overflow: hidden;
}
.hotel a {
    font-family: myriad;
    font-size: 20px;
    color: #a89455;
    text-decoration: none;
}
.hotel a:hover{
    text-decoration: underline;
    color: #f89406;
}
.hotel_logo{
    background-image: url(../img/services/hotel_logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 70px;
    margin: auto;
    padding-left: 80px;
    padding-right: 20px;
    overflow: hidden;
    z-index: 999;
}
.hotel_logo:hover {
    background-image: url(../img/services/hotel_logo.png);
    background-repeat: no-repeat;
    background-position: 0 -70px;
}
.hotel_line {
    background-color: gold;
    height: 1px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px 1px gold;
}
.hotel_room {
    border:1px solid grey;
    border-radius: 7px;
    padding: 4px;
}
.room_title {
    font-size: 16px;
    color: #009100;
    border-bottom: 1px solid grey;
}

.cart_prev {
    border-radius: 5px;
    background-color: #00f070;
    padding: 5px;
}
.cart_prev a.carta {
    font-weight: bold;
    color: #d87406;
    text-decoration: underline;
}
.buy {
    background-color: #00f070;
    border-radius: 10px;
}