<a class="archive" href="/news/">Архив новостей</a>
<h3>Что нового</h3>


{% for n in news %}
    <article class="news">
        <a href="{{ n.get_absolute_url }}">{{ n.title }}</a>
        <p>{{ n.description }}</p>
        <p class="date">{{ n.created_at }}</p>
    </article>

{% endfor %}